{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}
<h1>About</h1>

<p>This is a simple tool that enables you to create and schedule HTTP requests
    to be sent at a specific time in the future.</p>

<p>Please sign up and log in in order to create requests. You can view requests
    you have created on the <a href="/schedule">schedule</a> page.</p>

<p>Requests can be scheduled whenever you want in the future, and they are
    executed <b>each minute</b>.
</p>
{% endblock content %}